body {
   margin: 0px;
   padding: 0px;
}
#header {
	height: 11.25em;
	width: 100%;
}
#header {
	font-size: ;
	font-style: oblique;
	color: #FFFFFF;
	background-color: ;
	background-image: url(/pictures/logo1.jpg);
}
#footer {
	background-color: black;
	width:auto;
	height:auto;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.nav li {display:inline-block;}

ul.nav li a {
	display:inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}
ul.nav li a:hover {background-color: #555;}

#main {
	height:auto;
	width:auto;
	margin:4px;
	border: 2px solid black;
}
#sidebar {
	float:right;
	height:auto;
	width:20%;
}

.green_btn {
	border-radius: 25px;
	background-color: #809fff;
	display: block;
	width: 154px;
	height: 45px;
}
.green_btn:hover {
	background-color: #0033FF;
	color: #000;
}
.g1_btn {
	border-radius: 25px;
	background-color: #809fff;
	display: block;
	width: 154px;
	height: 45px;
}
.g1_btn:hover {
	background-color: #0033FF;
	color: #000;
}
.g2_btn {
	border-radius: 25px;
	background-color: #809fff;
	display: block;
	width: 154px;
	height: 45px;
}
.g2_btn:hover {
	background-color: #0033FF;
	color: #000;
}
.g3_btn {
	border-radius: 35px;
	background-color: #000000;
	display:inline-block;
	width: 260px;
	height: 60px;
}
.g3_btn:hover {
	background-color: #993333;
	color: #000;
}
.green_btn , .g1_btn , .g2_btn{
display:inline-block;
}
.boxed {
	display: inline-block;
	background-color:;
	background-image: url(/pictures/green.jpg);
	border: 1px solid black;
	height: auto;
	width: 18.7em;
}
.boxed1 {
	display:inline-block;
	background-color: ;
	background-image: url(/pictures/green.jpg);
	border: 1px solid black ;
	height: auto;
	width: 18.7em;
}
.boxed2 {
	display:inline-block;
	background-color:;
	background-image: url(/pictures/green.jpg);
	border: 1px solid black ;
	height: auto;
	width: 18.7em;
}
.boxed, .boxed1, .boxed2 {
	margin:2%;
	vertical-align: top;
}

.ads {
	float: right;
	background-color: #999999;
	width: 80%;
	height: 650px;
}

.ads1 {
	background-color: #999999;
	width: 100%;
	height: 150px;
}
.anim {
	float:left;
}
.form {
	border-radius: 25px;
	width:120px;
	height:40px;
	background-color:#000;
	color:#FFF;
}
.form:hover {
	background-color: #900;
}
.tfield {
	width:50%;
	height:30px;
	font-size: 16px;
}
.news {
	margin-top:15px;
	margin-left:50px;
}
.howto {
	margin-left:2cm;
	background-color:#FFF;
	height:100%;
	width:65%;
}
.tutorials {
	margin-left:2cm;
	background-color:#FFF;
	height:100%;
	width:65%;
}

@media only screen and (max-width:640px)
{
ul.nav li {
	display:block;
}
.nav li a{
	padding: 14px 16px;
}
.nav{
	text-align:center;
	display:none;
}
.nav-btn:before{
	content: "TechVenom ---  ** Menu **";
}
.nav-btn{
	display:block;
	background-color: #333;
	color:#f2f2f2;
	font-size:16px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
.nav-btn:hover {background-color: #555;}

.howto {
	margin-left:1px;
	margin-right:1px;
	background-color:#FFF;
	height:100%;
	width:100%;
}
.tutorials {
	margin-left:1px;
	margin-right:1px;
	background-color:#FFF;
	height:100%;
	width:100%;
}
.news {
margin:15px;
}

#main {
	width: 100%;
}

#sidebar {
	display:none !important;
    }
    
  
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
